<div class="ui fluid vertical pointing menu">
    <a href="{% url 'professionals:profile' request.user.professional.slug %}" class="active item">
        Applications
    </a>
    <a href="{% url 'work-history:list' %}" class="item">
        Work History
    </a>
    <a href="{% url 'education-history:list' %}" class="item">
        Education History
    </a>
    <a href="{% url 'references:list' %}" class="item">
        References
    </a>
    <a class="item">
        Documents
    </a>
    <a class="item">
        Messages
    </a>
    <a class="item">
        Friends
    </a>
</div>