{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>August</title>
    <link rel="stylesheet" href="{% static 'pkgs/semantic/semantic.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    {% block styles %}{% endblock styles %}
</head>
<body>
    <div class="ui middle aligned center aligned grid">
        {% block content %}
        {% endblock content %}
    </div>
    
    <script src="{% static 'pkgs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'pkgs/semantic/semantic.min.js' %}"></script>
    {% block javascript %}{% endblock javascript %}
</body>
</html>